.nexus-sensorSonifierControls {
    font-size: 2em;
    text-align: center;
    line-height: 2em;
}

.nexus-sensorSonifierControls-checkboxContainer input[type="checkbox"] {
    position: absolute;
    left: -50000em;
};

/* This needs to be in a separate directive due to how layout works? It's odd */
.nexus-sensorSonifierControls-checkboxContainer label i:before {
    position: absolute;
}

.nexus-sensorSonifierControls-checkboxContainer label input[type="checkbox"] + i:before {
    color: #333;
    content: "[ ]";
    font-family: monospace;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5em;
    border: 0.1em dashed transparent;
    margin: 0.1em;
}

.nexus-sensorSonifierControls-checkboxContainer label input[type="checkbox"]:checked + i:before {
    content: "[X]";
}

.nexus-sensorSonifierControls-checkboxContainer label input[type="checkbox"]:focus + i:before, .nexus-sensorSonifierControls-checkboxContainer label input[type="checkbox"]:hover + i:before {
    border-color: #CCC;
}

.nexus-nexusSensorSonificationPanel-sensorDisplay-phSensor .nexusc-midpointToneControlContainer, .nexus-nexusSensorSonificationPanel-sensorDisplay-fakeSensorPH .nexusc-midpointToneControlContainer {
    display: none !important;
}
