html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #bbb;
    color: #fff;
    overflow: hidden;
}

body {
    cursor: none;
}

.controller {
    margin: 1em;
}

.zone-row {
    clear: left;
}

.zone {
    height: 10em;
    width: 10em;
    float: left;
    border-radius: 1.2em;
    background-color: #333;
    margin: 0.5em;
}

.zone.arm {
    background-color: #555;
}

.zone.leg {
    background-color: #777;
}

.null {
    background: transparent;
}

.zone.arm.highlight {
    background-color: #2266ee;
}

.zone.leg.highlight {
    background-color: #22eeee;
}

#pointer {
    width: 5em;
    height: 5em;
    position: fixed;
    border-radius: 50%;
    background-image: radial-gradient(center center, circle cover, #ffeda3, #ff9800);
    background-image: -moz-radial-gradient(center center, circle cover, #ffeda3, #ff9800);
    background-image: -webkit-radial-gradient(center center, circle cover, #ffeda3, #ff9800);
    background-image: -ms-radial-gradient(center center, circle cover, #ffeda3, #ff9800);
    color: #024;
}
